<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <title>Rent a bike!</title>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link" href="http://127.0.0.1:8000/index">
          <img src="{% static 'images/logo2.png' %}" class="logo" alt="go!"> My bikes! </a>
        <a class="nav-item nav-link" href="account/register"> Registration for YOU! </a>
        <a class="nav-item nav-link" href="#"> LOGIN FOR ME! </a>
        <a class="nav-item nav-link" href="bikes"> moje rowery dla Dawida </a>
      </nav>
    </div>
  </div>

  {% block content %}
  {% endblock %}
</div>
</body>
</html>